body{
	font-family: "Times New Roman";
}

.my-toggle {
    margin: 20px 0;
}
.my-toggle > li {
	display: block;
	list-style: outside none none;
	margin-bottom: 15px;
}
.toggle-title {
	font-weight: 400;
	font-size: 18px;
	color: #304351;
	margin-bottom: 0;
	line-height: 52px;
	margin-top: 0;
}
.view {
	background-color: #f4f8f8;
	color: #304351;
	cursor: pointer;
	display: block;
	padding: 0 20px;
	text-decoration: none;
	height: 52px;
	border-radius: 2px;
	-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
			-ms-transition: all 0.2s;
				-o-transition: all 0.2s;
	transition:all 0.2s;
	line-height: 52px;
	position: relative;
}
.view.opened {
	background: #03adf8;
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid rgba(255,255,255,0.12);
}

.view:hover {
	text-decoration: none;
	background: #03adf8;
}
.view.opened {
	background-color: #03adf8;
	border: 0 none;
}
.view.opened .toggle-title,
.view:hover .toggle-title {
	color: #fff;
}