body{
	font-family: Arial;
	color: white;
}

.my-toggle {
    margin: auto;
}
.my-toggle > li {
	display: block;
	list-style: outside none none;
	margin-bottom: 15px;
}
.toggle-title {
	font-weight: 400;
	color: #304351;
	margin-bottom: 0;
	line-height: 52px;
	margin-top: 0;
}
.view {
	background-color: #f4f8f8;
	color: #304351;
	cursor: pointer;
	display: block;
	padding: 0 20px;
	text-decoration: none;
	height: 52px;
	border-radius: 2px;
	-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
			-ms-transition: all 0.2s;
				-o-transition: all 0.2s;
	transition:all 0.2s;
	line-height: 52px;
	position: relative;
}
.view.opened {
	background: #03adf8;
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid rgba(255,255,255,0.12);
}
.detail {
	padding: 15px 20px;
	display: none;
	line-height: 20px;
	background-color: #03adf8;
	color: #fff;
	border-radius: 0 0 3px 3px;
	border-top: 1px solid rgba(255,255,255,0.15);
	font-weight: 300;
}
.view:hover {
	text-decoration: none;
	background: #03adf8;
}
.view.opened {
	background-color: #03adf8;
	border: 0 none;
}
.view.opened .toggle-title,
.view:hover .toggle-title {
	color: #fff;
}

.switch-container,
.switch {
  transition: .3s background;
}

body {
  background: #eee;
  transition: .3s color, .3s background, .3s color;
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: #142634;
}

h2 {
  font-size: 36px;
}

p {
  line-height: 1.3;
}

.night-mode {
  background: #142634;
}

.switch-container {
  width: 50px;
  height: 25px;
  margin: 10rem auto;
  border-radius: 30px;
  box-shadow: inset 0 0 5px #bbb;
  cursor: pointer;
}

.switch {
  background: #142634;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transition: .3s margin-left;
}

.switched-on {
  margin-left: 25px;
  background: #bdc7c1;
}

.on-indicator {
  background: #5a666b;
  box-shadow: none;
}

.night-mode-text {
  color: #ffffff;
}

#loading {
    width:100px;
    height:100px;
    border:2px solid #ccc;
    border-top-color:#f50;
    border-radius:100%;

/* here we center it*/
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    
/* Tha animation*/
    animation: round 1s linear infinite;
}

@keyframes round {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}

#overlay {
    height:100%;
    width:100%;
    background:#000;
    opacity:1;
    left:0;
    top:0;
    z-index:9999;
}