<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href={% static "css/style.css" %}>

<style type="text/css">
  body{
  font-family: Arial;
  color: white;
}

.my-toggle {
    margin: auto;
}
.my-toggle > li {
  display: block;
  list-style: outside none none;
  margin-bottom: 15px;
}
.toggle-title {
  font-weight: 400;
  color: #304351;
  margin-bottom: 0;
  line-height: 52px;
  margin-top: 0;
}
.view {
  background-color: #f4f8f8;
  color: #304351;
  cursor: pointer;
  display: block;
  padding: 0 20px;
  text-decoration: none;
  height: 52px;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
  transition:all 0.2s;
  line-height: 52px;
  position: relative;
}
.view.opened {
  background: #03adf8;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid rgba(255,255,255,0.12);
}
.detail {
  padding: 15px 20px;
  display: none;
  line-height: 20px;
  background-color: #03adf8;
  color: #fff;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid rgba(255,255,255,0.15);
  font-weight: 300;
}
.view:hover {
  text-decoration: none;
  background: #03adf8;
}
.view.opened {
  background-color: #03adf8;
  border: 0 none;
}
.view.opened .toggle-title,
.view:hover .toggle-title {
  color: #fff;
}

.switch-container,
.switch {
  transition: .3s background;
}

body {
  background: #eee;
  transition: .3s color, .3s background, .3s color;
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: #142634;
}

h2 {
  font-size: 36px;
}

p {
  line-height: 1.3;
}

.night-mode {
  background: #142634;
}

.switch-container {
  width: 50px;
  height: 25px;
  margin: 10rem auto;
  border-radius: 30px;
  box-shadow: inset 0 0 5px #bbb;
  cursor: pointer;
}

.switch {
  background: #142634;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transition: .3s margin-left;
}

.switched-on {
  margin-left: 25px;
  background: #bdc7c1;
}

.on-indicator {
  background: #5a666b;
  box-shadow: none;
}

.night-mode-text {
  color: #ffffff;
}

#loading {
    width:100px;
    height:100px;
    border:2px solid #ccc;
    border-top-color:#f50;
    border-radius:100%;

/* here we center it*/
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    
/* Tha animation*/
    animation: round 1s linear infinite;
}

@keyframes round {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}

#overlay {
    height:100%;
    width:100%;
    background:#000;
    opacity:1;
    left:0;
    top:0;
    z-index:9999;
}
</style>
<script type="text/javascript">
   $(function(){
    $.ajax({
      type : "GET",
      url: '/data',
      dataType: 'json',
      success: function(data){
        var result = ''
        var temp = data['items']
        for (var i = 0; i<temp.length; i++) {
          item = temp[i]
          var img = item['volumeInfo']['imageLinks']['smallThumbnail']
          var title = item['volumeInfo']['title']
          var author = item['volumeInfo']['authors']
          var desc = item['volumeInfo']['description']

          result += "<tr><td><img src =" + img + "></td>"
          result += "<td>" + title + "</td>"
          result += "<td>" + author + "</td>"
          result += "<td>" + desc + "</td>"
          result += "<td><button type='button' class='tombol btn btn-dark'>Favorite</button></td></tr>"
        }
        $("#bt").html(result)
      }
    });
  });

var fav = 0;
  $(document).on('click', '.tombol', function(){
    if ($(this).hasClass('clicked')) {
      fav--;
      $(this).removeClass('clicked');
      $(this).css("background-color","#343a40");
      $(this).css("color", "white");

    }
    else{
      fav++;
      $(this).addClass('clicked');
      $(this).css("background-color", "yellow");
      $(this).css("color", "black");
    }
    $("#jml").html(fav)
  });




</script>



</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-item nav-link" href="..">Home</a>
              <a class="nav-item nav-link" href="../profile">Profile</a>
              <a class="nav-item nav-link active" href="#">Books<span class="sr-only">(current)</span></a>
          </div>
      </div>
  </nav>
    <br><br><br>
    <h4>Books</h4>
    <h5>Favorite: <a id="jml">0</a></h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Book</th>
          <th scope="col">Title</th>
          <th scope="col">Authors</th>
          <th scope="col">Description</th>
          <th>Add to Favorite</th>
        </tr>
      </thead>
      <tbody id="bt">    
      </tbody>
</table>

</body>
</html>
