


<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Home</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<link rel = "stylesheet" type = "text/css" href = "{%static 'css/style.css' %}"/>


    <meta charset="UTF-8">
    <script src="{% static 'js/javascript.js' %}"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="../profile">Profile</a>
      <a class="nav-item nav-link" href="../books">Books</a>
    </div>
  </div>
</nav>
<br>
	<h2 style="text-align: center;">Hello, apa kabar?</h2> 
	<br>
	<form id = "form" method="POST" action = "{% url 'status' %}">
			{% csrf_token %}
			{{stat_form}}
			<br>
			<br>
			
			<button type="submit" class="btn btn-primary">Post</button>
	</form>

	<br>
	<br>
	<br>

	<!-- Table, bootstrap -->
	<table class="table table-hover" style="text-align: center;">
	  <thead>
	    <tr>
	      <th scope="col">Status</th>
	      <th scope="col">Time</th>
	    </tr>
	  </thead>

	  <tbody>
	  	
	  {% for e in data_form %}
	  <tr>
		  <td> {{e.my_status}} </td>
		  <td>{{e.time}}</td>

	  </tr>
	{% endfor %}
	  </tbody>
	</table>
</body>
</html>