

<!DOCTYPE html>
{% load static %}
<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}"/>
    <script type="text/javascript">
    	$(function() {
  $(".view").on( "click", function() {
    $(this).next().slideToggle(250);
    $fexpand = $(this).find(">:first-child");
    if ($(this).hasClass('opened')) {
        $(this).removeClass('opened');
    } else {
        $(this).addClass('opened');
    };
  });

    var switchContainer = $('.switch-container');

    switchContainer.on('click', function() {
    var body      = $('body'),
        onSwitch  = $('.switch'),
        container = $('.data');
      
      $(this).toggleClass('on-indicator');
      onSwitch.toggleClass('switched-on');
      body.toggleClass('night-mode');
      container.toggleClass('night-mode-text');
    });
});

var myVar;

function myFunction() {
    myVar = setTimeout(showPage, 1000);
}

function showPage() {
    document.getElementById("loading").style.display = "none";
    document.getElementById("myDiv").style.display = "block";
}

    </script>

    <meta charset="UTF-8">
    <title>profile</title>  
</head>

<body onload="myFunction()" style="margin:0;">
	<div id="overlay">
		<div id="loading"></div>
	</div>

	<div id="myDiv" class="animate-bottom">
    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	            <div class="navbar-nav">
	                <a class="nav-item nav-link" href="..">Home</a>
	                <a class="nav-item nav-link active" href="#">Profile<span class="sr-only">(current)</span></a>
	                <a class="nav-item nav-link" href="../books">Books</a>
	            </div>
	        </div>
	    </nav>

	    <br>
	    <div class="switch-container">
		  <div class="switch"></div>
		</div>


		<div class = "data" align="center">
			<h1>My Profile</h1>
	        <p>let me introduce you</p>

	        <br><br><br>
	        <img src="https://scontent-sin2-1.xx.fbcdn.net/v/t1.0-9/40802733_1832804423422294_695074859822088192_o.jpg?_nc_cat=101&_nc_ht=scontent-sin2-1.xx&oh=3260e251a96e195d8716303d0ecfe507&oe=5C7E0B16" alt="The author's" height="300" width="450">
	        <br><br>



			<div class="container">
			    <div class="row">
			        <ul class="my-toggle">
			            <li>
			                <a class="view">
			                    <div class="row">
			                        <div class="col-sm-12">
			                            <h3 class="toggle-title">Experience</h3>
			                        </div>
			                    </div>
			                </a>
			                <div class="detail">
			                    <div class="row">
			                        <div class="col-sm-12">
			                            <div class="toggle-wrapper">
			                                - BEM Depor Fasilkom UI 2018<br>- Bizzit, Compfest X<br>- Dankes, CS League 2018<br>- Dokumentasi, Wisuda Genap 2018
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </li>
			            <li>
			                <a class="view">
			                    <div class="row">
			                        <div class="col-sm-12">
			                            <h3 class="toggle-title">Activity</h3>
			                        </div>
			                    </div>
			                </a>
			                <div class="detail">
			                    <div class="row">
			                        <div class="col-sm-12">
			                            <div class="toggle-wrapper">
			                                - belajar<br>- pulang ke bekasi atau kos<br>- rapat<br>- supporteran<br>- tidur<br>- ngerjain tugas kalo ngga ngantuk
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </li>
			            <li>
			                <a class="view">
			                    <div class="row">
			                        <div class="col-sm-12">
			                            <h3 class="toggle-title">Achievment</h3>
			                        </div>
			                    </div>
			                </a>
			                <div class="detail">
			                    <div class="row">
			                        <div class="col-sm-12">
			                            <div class="toggle-wrapper">
			                                <i>berhasil masuk Fasilkom!</i>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </li>
			        </ul>
			    </div>
			</div> 
	    </div>
	</div>
    
</body>
</html>